$bg: #745f73;
$green: #38e899;
$yellow: #ffff0e;
$red: #d22d1b;

$input-color: #000000;
$item-color: #373460;
$font-color: #ffffff;

$big-font-size: 40px;
$heading-font-size: 24px;
$item-font-size: 20px;

@keyframes click {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    width: 30px;
    height: 30px;
  }
}
